/.idea/
/config-service/.mvn/
/config-service/target/
/config-service/config-service.iml
/discovery-service/.mvn/
/discovery-service/target/
/discovery-service/discovery-service.iml
/telegram-service/.mvn/
/telegram-service/target/
/telegram-service/telegram-service.iml
/TelegramOpenAPIProject_Microservices.iml
/test-http.http
/botuser-service/.mvn/
/botuser-service/botuser-service.iml
/api-gateway/.mvn/
/api-gateway/api-gateway.iml
/message-service/.mvn/
/message-service/message-service.iml
/message-service/target/
/request-processor-service/.mvn/
/message-processor/.mvn/
/message-processor/message-processor.iml
