/.idea/
/config-service/.mvn/
/config-service/target/
/config-service/config-service.iml
/discovery-service/.mvn/
/discovery-service/target/
/discovery-service/discovery-service.iml
/telegram-service/.mvn/
/telegram-service/target/
/telegram-service/telegram-service.iml
/TelegramOpenAPIProject_Microservices.iml
/test-http.http
/botuser-service/.mvn/
/botuser-service/botuser-service.iml
/api-gateway/.mvn/
